# Prerequisites
*.d

# Build files
Makefile*
debug/
release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt local files
*.pro.user
.qmake.stash
.qtc_clangd
ui_mainwindow.h
crashfirefox_plugin_import.cpp

# Misc
*.log
